<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arktech.waqasansari.thescholarsinn" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ActivityHome"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityTeachers" android:configChanges="orientation" />
        <activity android:name=".ActivityAnnouncement" android:configChanges="orientation" />
        <activity android:name=".ActivityFacebook" android:configChanges="orientation" />
        <activity android:name=".ActivityScheduledTests" android:configChanges="orientation" />
        <activity android:name=".ActivityTestMarksAndAttendance" android:screenOrientation="portrait" />
        <activity android:name=".ActivityTweets" android:configChanges="orientation" />
        <activity android:name=".ActivityTimeTable" android:configChanges="orientation" />
        <activity android:name=".ActivityAboutUs" android:configChanges="orientation" />
        <activity android:name=".ActivityContactUs" android:configChanges="orientation" />

    </application>

</manifest>
